@import "src/styles";

.header-container {
  background-color: $default-red;

}
.header-image {
  width: auto;
  height: 75px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  &:hover {
    background-color: $default-brown;
  }
}
