@import "src/styles";

.item-prices-container {
  margin-top: 20px;
}
.item-container {
  background-color: $default-light-red;
  border-radius: 5px;
}
.item-price {
  color: $default-price-color;
}
.item-amount {
  font-size: 11px;
}
.item-name {
  font-weight: bold;
  cursor: pointer;
}
.recipe-icon-container {
  height: 50px;
  margin-top: 8px;
}
.item-description {
  font-size: 14px;
}
.link-icon {
  height: auto;
  width:  25px;
  background-color: $default-brown;
  padding: 4px;
  border-radius: 3px;
}
.link-container {
  padding: 0;
}
