<div class="item-prices-container">
  <div class="container item-container">
    <div class="row"  *ngIf="item !== null">
      <div class="col-2 recipe-icon-container">
        <img src="{{getRecipeIconUrl()}}" alt="icon of the item" class="recipe-icon">
      </div>
      <div class="col-7">
        <div class="item-name" (click)="copyToClipBoard(getResultItemName())" ngbTooltip="Copy">
          {{getResultItemName()}}
        </div>
        <div class="links">
          <div class="container link-container">
            <div class="row">
              <div class="col-2" *ngIf="getIsCraftedItem()">
                <a href="{{getTeamCraftLink()}}" target="_blank" ngbTooltip="Open on Teamcraft">
                  <img src="assets/teamcraft.png" alt="teamcraft logo" class="link-icon">
                </a>
              </div>
              <div class="col-2">
                <a href="{{getUniversalisLink()}}" target="_blank" ngbTooltip="Open on Universalis">
                  <img src="assets/universalis.png" alt="universalis logo" class="link-icon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="item-amount">
          {{getItemAmount()}} *
        </div>
        <div class="item-price">
          {{getItemPrice()}}
        </div>
        Total:
        <div class="total-price item-price">
          {{getTotalItemPrice()}}
        </div>
        <div class="craft-toggle" *ngIf="shouldShowCheckbox()">
          <label class="checkbox-inline">
            <input type="checkbox" data-toggle="toggle" (click)="toggle()"> crafted
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

