<div class="container">
  <div class="row" *ngIf="item === null">
    <app-loading ></app-loading>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="container" *ngIf="item !== null">
        <div class="row">
          <div class="price-type-select">
            <app-price-type-select (onTypeSelect)="onPriceTypeSelect($event)"></app-price-type-select>
          </div>
          <div class="selected-world">
            showing data for: {{selectedWorld}}
          </div>
          <div class="col">
            Profit:
          </div>
          <div class="col item-price">
            {{totalProfit}}
          </div>
        </div>
      </div>
      <app-item-price-card *ngIf="item !== null" [item]="getItemWithColAt(item, -1)" #recipe_column_0 [shouldShowToggle]="false"></app-item-price-card>
    </div>
    <div class="col">
      <app-recipe-column [item]="getItemWithColAt(item, 0)" (onCraftToggle)="toggleItemFromIngredients($event)"></app-recipe-column>
    </div>
    <div class="col" *ngFor="let column of ingredientColumns; let c = index;">
      <div *ngFor="let ingredient of column; let i = index;">
        <app-recipe-column [item]="getItemWithColAt(ingredient, 1 + c)" (onCraftToggle)="toggleItemFromIngredients($event)"></app-recipe-column>
      </div>
    </div>
  </div>
</div>
