
<div class="container search-container">
  <div class="row">
    <div class="text-black site-explanation">
      This website allows for the calculation of the crafting price of an item from the MMO Finaly Fantasy XIV,
      using the <a href="https://xivapi.com/" class="link-primary">xivapi</a> and <a href="https://universalis.app/" class="a-no-new-line">universalis</a> REST APIs.
    </div>
  </div>
  <div class="row">
    <div class="col">
      <select class="form-select" aria-label="Default select example">
          <option *ngFor="let world of worlds" [selected]="world.selected"
                  (keyup.enter)="selectWorld(world)"
                  (keyup.tab)="selectWorld(world)"
                  (click)="selectWorld(world)">
            {{world.name}}
          </option>
      </select>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <input type="text" class="form-control" (keyup.enter)="search()" placeholder="Recipe Name" value="{{searchedForName}}" aria-label="Recipe Name" aria-describedby="basic-addon2" (keyup)="setSearch($event)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary search-button" type="button" (click)="search()">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="recipes.length === 0 && hasSearched" class="text-danger">
      Could not find recipe
    </div>
    <div class="recipes-container" *ngFor="let recipe of recipes">
      <app-recipe-list-item [recipe]="recipe" (onClick)="onRecipeSelect($event)"></app-recipe-list-item>
    </div>
  </div>
</div>
