@import "src/styles";

.search-container {
  padding-top: 20px;
  width: 70%;
}
.search-button:hover {
  background-color: $default-black;
}
.a-no-new-line {
  white-space: pre-line;
}
.site-explanation {
  padding: 10px;
  margin-bottom: 10px;
}
